@charset "ISO-8859-1";
body {
	background-color: #f5ef9e;
}
.p1 {
	font-family: Georgia, serif;
}
.title{
	text-align: center;
	background-color: #dfe873;
	font-style: italic;
	margin: 10px 30px;
	padding: 5px 10px;
}
.content{
	background-color: #f3f7ca;
	margin: 5px 10px;
	padding: 10px 20px;
}